<div id="flashcards" class="w-screen h-screen flex items-center place-content-evenly">
  <div class="p-24 bg-white shadow-lg rounded-lg text-8xl">
    <%= @symbol %>
  </div>
</div>

<%= link_to "Show", @next_page, class: "absolute bottom-4" %>
