<div class="grid grid-cols-3 gap-4 p-12 bg-white rounded-lg shadow-lg">
  <div class="text-xl text-center">Romaji</div>
  <div class="text-xl text-center">Hiragana</div>
  <div class="text-xl text-center">Katakana</div>
  <% @characters.each do |character| %>
    <div class="text-lg text-center">
      <%= character.romaji %>
    </div>
    <div class="text-lg text-center">
      <%= character.hiragana %>
    </div>
    <div class="text-lg text-center">
      <%= character.katakana %>
    </div>
  <% end %>
</div>
