<div id="flashcards" class="w-screen sm:h-screen p-12 flex items-center place-content-evenly">
  <div class="flex flex-col w-full gap-8">
    <% if @question_response %>
      <p class="text-white text-2xl text-center"><%= @question_response %></p>
    <% end %>

    <div class="grid sm:grid-cols-3 gap-8 place-content-stretch place-items-stretch">
      <% [@character.romaji, @character.hiragana, @character.katakana].each do |letter| %>
        <div class="py-16 sm:py-24 bg-white shadow-lg rounded-lg text-8xl text-center">
          <%= letter %>
        </div>
      <% end %>
    </div>

  <%= link_to "Again", root_path, class: "text-center" %>
</div>
